footer {
    margin-top: 100px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}

.Balonky {
    display: flex;
    justify-content: space-around;
}

.Balonek {
    box-sizing: border-box;
    width: 30%;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #b5b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BalonekInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 50px;
}

.menu {
    background-color: #b5b3b3;
    overflow: hidden;
    font-size: 15px;
    display: flex;
    gap: 50px;
    text-decoration: none;
    justify-content: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #c20000;
    background-color: #b5b3b3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #2518ae;
    background-color: #b5b3b3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}